@model IdentityServer4.Quickstart.UI.ModelSetPassword



<div class="container-fluid">
    <partial name="_ValidationSummary" />

    <div class="row justify-content-md-center my-5">
        <div class="col col-lg-5">
            <div class="card">

                <h6 class="card-header color-text-01 bb-color-01 text-center text-uppercase">
                    Set Password
                </h6>

                <div class="card-body pt-3 pb-5">

                    @using (Html.BeginForm())
                    {
                        <fieldset>
                            <div class="form-group md-form">
                                <div class="prefix"><i class="fal fa-unlock-alt"></i></div>
                                @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group md-form">
                                <div class="prefix"><i class="fal fa-unlock-alt"></i></div>

                                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                            </div>
                            @Html.HiddenFor(a => a.ResetToken)
                            @Html.HiddenFor(a => a.UserID)

                            <center>
                                <button class="btn btn-outline-color-01 btn-rounded" name="button" value="SetPassword">Set Password</button>
                                <button class="btn btn-outline-color-01 btn-rounded" name="button" value="cancel">Cancel</button>
                            </center>

                        </fieldset>
                    }
                </div>

            </div>
        </div>
    </div>

</div>
